.button {
  border: none;
  padding: 0.5rem 0.25rem;
  font-weight: 600;
  font-family: var(--font-geist-sans);
  background-color: hsl(240, 75%, 80%);
  color: #000;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(240, 60%, 70%);
}

.button.loading {
  cursor: not-allowed;
  background-color: hsl(240, 60%, 70%);
}
