.rating-spread-list {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.rating-spread-item {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0.125rem 0rem;

  gap: 0.5rem;
}

.rating-bar-container {
  width: 100%;
}

.rating-bar {
  height: 100%;
  background-color: hsl(240, 75%, 80%);
  display: flex;
  flex-direction: row-reverse;
  color: #000000;
  font-weight: 700;
  padding-right: 0.25rem;
  position: relative;
}
