.search {
  border: none;
  padding: 0.5rem;
  width: 20rem;
  font-family: var(--font-geist-sans);
}

.form {
  position: relative;
}

.results {
  position: absolute;
  top: 33px;
  right: 0;
  width: 30rem;
  background: rgb(43, 42, 51);

  display: flex;
  flex-direction: column;
}

.result-heading {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.25rem 0.5rem;
  font-family: var(--font-geist-sans);
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
}

.not-found {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.result {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  font-family: var(--font-geist-sans);
}

.image {
  min-width: 36px;
  height: 36px;
  border: 1px solid #ffffff;
}

.container {
  max-height: 32.5rem;
  overflow-y: scroll;
}
