.homepage {
  width: 100%;
  max-width: 70rem;
}

.recent-ratings-list {
  width: 100%;
  max-width: 40rem;
  max-height: 50rem;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.recent-ratings-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.recent-ratings-item-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.recent-ratings-item:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.recent-ratings-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.25);
}

.recent-ratings-beatmap-icon {
  border: 1px solid #ffffff;
}

.recent-ratings-stars {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recent-comments-list {
  width: 100%;
  max-width: 40rem;
  max-height: 50rem;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}

.recent-comments-comment-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.recent-comments-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
}

.recent-comments-item:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.recent-comments-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.25);
}

.link {
  font-weight: 600;
}

.site-activity-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.container-heading {
  font-size: 1.5rem;
}

.homepage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.welcome {
  font-weight: 400;
  font-size: 2rem;
}

.site-name {
  font-weight: 600;
}

.disclaimer {
  max-width: 40rem;
  line-height: 1.3rem;
}

.statistics {
  color: rgba(255, 255, 255, 0.5);
}

.description {
  font-style: italic;
}

.recent-maps-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.recent-maps-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
}

.recent-maps-item:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}

.recent-maps-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.25);
}

.recent-maps-item-date {
  margin-left: auto;
  color: rgba(255, 255, 255, 0.3);
}
